body {
    font-size: 14px;
    font-family: Helvetica, "Lucida Grande",微软雅黑;
    /* font-family: "Helvetica Neue", Helvetica, Arial,sans-serif, 文泉驿正黑; */
}
div.content{
    padding:10px 10px 5px 5px;
}
hr{
    border: 1px solid #ccc;
    width: 100%;
    height: 1px;
}
p {
    font: 15px/20px Helvetica,微软雅黑;
    border:none;
    margin: 0 0 10px 0;
}
a {
    text-decoration: none;
    color: #006FBB; 
    /* color: #990000; */
}
a:hover {
    color: #002E4E;
}

#header {
    margin: 20px auto;
    padding-bottom: 20px;
}

#seperate {
    margin: 10px auto;
    padding-bottom: 10px;
}

#search {
    margin: 20px auto;
    padding-bottom: 20px;
}

#logo a {
    color: white;
    padding: 10px 15px;
    font-size: 18px;
    color: white;
    background: black;
    -moz-border-radius： 5px;
    -webkit-border-radius: 5px;
    font-weight: bold;
    float: left;
    display: block;
}

.wrapper { 
	width:100%;
	overflow:hidden;
}
.container { 
	width:100%;
}

.form-item {
    margin: 10px;
}

.update textarea,
.form-item textarea,
.form-item input[type="text"] {
    border: 1px solid #999;
    width: 250px;
    padding: 5px;
}
.form-item input[type="text"] {
    height: 20px;
}

.form-item > label {
    display: inline-block;
    float: left;
    width: 60px;
    line-height: 30px;
    text-align: right;
    margin-right: 15px;
}

.nav,
.info {
    margin-top: 2px;
}
.menu-item,
.info-item,
.nav-item {
    margin: auto 0px;
    float: left;
    text-align: center;
    margin-right: 10px;
}
.info-item {
    float: right;
    text-align: right;
}
.ta-r {  
    text-align: right;
}
.ta-c {  
    text-align: center;
}
.b-l {
    border-bottom: 1px solid #ddd;
}
.t-l {
    border-top: 1px solid #ddd;
}
.f-r {
    float: right;
}
.f-l {
    float: left;
}
.bg-grey {
    background: #efefef;
}

.menu {
    height: 40px;
}
.menu-item {
    padding: 11px 0;
}
.search-form {
    padding: 5px 0px;
}
.search-form input {
    padding: 5px;
    margin-right: 5px;
    float: right;

}
.search-form input[type='text'] {
    height: 18px;
    border: 1px solid #999;
}
.search-form input[type='submit'] {
    width: 50px;
}

.b-info-logo,
.b-info-copyright {
    margin: 5px;
    float: left;
}
.b-info-logo {
    font-size: 24px;
    font-family: Helvetica, "Lucida Grande",微软雅黑;
    font-weight: bold;
    padding: 5px 0;
    /* color: #990000; */
}
.b-info-copyright {
    border-left : 1px solid #aaa;
    padding: 5px;
    width: 220px;
    font-size: 12px;
    color: grey;
}



/*  Public.frame 主体框架 */
.main,
.sidebar {
    padding: 5px 0;
    margin-bottom: 20px;
}
.main {
}

/* Antindex.index 列表类通用样式 */
.main-title {
    font-size: 24px;
    margin-bottom: 10px;
}
.sidebar-title {
    font-size: 18px;
    text-align: center;
    padding-left: 30px;
}
.sidebar-widget a:visited,
.sidebar-widget {
    font-size: 14px;
    color: #888;
}
thead,
.list-filter {
    padding: 5px;
    background: #ebebeb;
}
.list-head th,
.list-filter a {
    text-align:center;
}

.list-head th:hover,
.list-filter a:hover,
.filter-active {
    background: #777;
    color: gainsboro;
}

.list {
    margin-top: 20px;
}
.list tr {
    border-bottom: 1px dotted gainsboro;
    line-height: 162%;
}
.list tr > td:first-child {
    width: 280px;
}
.list-item {
}

.text-c {
    text-align: center;
}

/*
.blckb-title {
    padding: 5px;
    background-color: #ebebeb;
    font-weight: bold;
    margin-bottom: 5px;
}
*/
.blckb-title a.blckb-title-link {
    font-size: 12px;
}
.blckb-content {
    font-size: 9px;
}
.ui-state-active {
}
.nimoer-info {
    margin-left: 20px;
    width: 50px;
}

.client-info {
    padding: 5px;
}
.client-info span {
    padding-right: 20px;
}

.item-main {
    margin-bottom: 15px;
}
.issue-feedback {
    margin-top: 30px;
}
.feedback-item-content {
}
.updatetime {
    color: #999;
}
.item-tags {
    margin: 5px 0px;
}
.tag_bar{
    height:18px;
}
.tag {
    border-radius:3px;
    font-size:12px;
    border:solid 1px;
    background: #F3FAFF;
    color: #ccc;
    margin-right:3px;
}
.selected {
    border:solid 1px;
    background: #06c;
    color: #B3D2D8;
    margin-right: 3px;
}
.confirmed.super-tag {
    border:solid 1px;
    background: #0066CC;
    color: #B3D2D8;
    margin-right: 4px;
}
.tag_active {
    font-size:12px;
    border-radius:3px;
    border:solid 1px;
    background: #0066CC;
    color: #B3D2D8;
    margin-right: 4px;
}

.super-tag {
    border-radius:3px;
    background: #444;
    color: gainsboro;
    margin-right: 4px;
    font-size:13px;
    border:solid 1px;
}

.update {
    margin-top: 20px;
}
.update textarea{
    width: 280px;
}
.update label {
    font-size: 17px;
    color: #555;
}

.editor-tags {
    float: left;
    padding-top: 20px;
    width: 170px;
}
.editor-tags .tag,
.editor-tags .super-tag {
    margin-top: 2px;
    display: block;
    text-align: center;
    width: 3em;
    float: left;
    
}

.hidden{
    display: none;
}

#superheader {
    padding: 8px 0 8px 0;
    font-size: 13px;
    color: #ddd;
    background: #006fbb;
    border-bottom: 6px solid #005188;
    border-top: 1px solid #007ed5;
}

#superheader a {
    color: white;
}


#notice {
    text-align: center;
}

#notice div {
    margin: 20px;
}
.finale_state p{
    text-align: center;
    border:none;
    margin: 0 0 10px 0;
    font: 30px/35px Helvetica,微软雅黑;
}
.client_info{
    background:#f4f4f4;
}
.comment_item,
.feedback_item{
    background:#fff6ff;
    border-bottom:1px #ccc dashed;
    padding:10px 0px;
}
.comment_item{
    background:#FaF8FF;
}
.subnav{
    font: 25px/45px Helvetica,微软雅黑;
    float:right;
    margin: 0 10px;
}
.search_issue{
    float:right;
}
.author{
    font-size:13px;
    color: #999;
}
.participants {
    word-wrap:word-break;
    word-break:break-all;
    font-size:13px;
}  
.showChecked{
    border:solid gray 1px;
    width:300px;
    float:left;

}
.cancelNimoer{
    border:1px solid #CAD8F3;
    background-color:#DEE7F8;
    border-radius:5px;
    margin:2px 2px 2px 2px;
    float:left;
}
li.intern{
    color:blue;
}

.pagetopnav{
    float:right;
}

table {
	border:0;
	border-collapse:collapse;
	text-align:center;
}
th {
	background-color:#ebebeb;
	font-size:16px;
	height:26px;
	font-weight:bold;
	border-bottom:1px dotted gainsboro;
	text-align:center;
}
td {
	font-size:13px;
	padding:auto;
	height:23px;
	border-bottom:1px dotted gainsboro;
}

.articletitle{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}
.articletext{
	line-height: 25px;
}

.striped {
     background-color:#eaf0ff;
}

div.message{
	border-style: solid;
	border-width: 6px;
	font-weight: bold;
	margin-bottom: 1.5em;
	overflow: hidden;
	padding: 14px;
	font-size: 110%;
	background-color: #EAF8E4;
	border-color: #8DC478;
	color: #3E642F;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	
}

div.success{
	border-style: solid;
	border-width: 6px;
	font-weight: bold;
	margin-bottom: 1.5em;
	overflow: hidden;
	padding: 14px;
	font-size: 110%;
	background-color: #EAF8E4;
	border-color: #8DC478;
	color: #3E642F;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	
}

div.error{
	border-style: solid;
	border-width: 6px;
	font-weight: bold;
	margin-bottom: 1.5em;
	overflow: hidden;
	padding: 14px;
	font-size: 110%;
	background-color: #FFF2F2;
	border-color: #C00;
	color: #B20000;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

div.warning{
	border-style: solid;
	border-width: 6px;
	font-weight: bold;
	margin-bottom: 1.5em;
	overflow: hidden;
	padding: 14px;
	font-size: 110%;
	background: #FFFFDD;
	border-color: #EED300;
	color: #745500;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

/*--- tabs ---*/
ul.tabs {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 48px; /*--Set height of tabs--*/
	padding:0 0 0 0;
	position:relative;
	float:left;
}
ul.tabs li {
	float: left;
	border-left: none;
	overflow: hidden;
	position: relative;
	background:url(../images/tab-bg1.gif) no-repeat 0 0;
	width:130px;
	height:44px;
	line-height:44px;
	font-size:14px;
	color:#fff;
	text-align:center;
	font-family:"微软雅黑", Arial, Helvetica, sans-serif;
	margin:4px 0 0 4px;
}
ul.tabs li.first {
	margin-left:0;
}
ul.tabs li a {
	text-decoration: none;
	color: #fff;
	display: block;
}
	html ul.tabs li.active a {
		color:#000;
	}

ul.tabs li:hover, html ul.tabs li.active  {
	background:url(../images/tab-bg2.gif) no-repeat 0 0;
	margin-top:0;
	height:48px;
	color:#000;
	line-height:48px;
}
	ul.tabs li:hover a {
		color:#000;
	}

.tab_container {
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #fff;
	min-height:205px;
	height:auto !important;
	height:205px;
}
.tab_content {
	padding: 0px 0px 0px 0px;
}
/*--- tabs ---*/
